<div class="containerShow">
    <div class="navbar navbar-expand-lg">
        <div class="navbar-brand">
            <img src="/assets/pict/game'sTripLogo.png" class="img-fluid w-100" alt="siteLogo" />
        </div>
        <button type="button" id="btnConnect" [routerLink]="'/login'"><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
    </div>
    <div class="gamesMoments">
        <div class="containGames">
            <p class="best">Meilleurs jeux du momemts : </p>
            <div class="listGames">
            <ngb-carousel>
            <!-- DISHONORED 2 -->
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/assets/pict/Dishonored2Jaquette.png" alt="gamePict" class="img-fluid w-100" />
                        </div>
                        <div class="col-lg-8">
                            <div class="present">
                                <h2 class="title">DISHONORED 2</h2>
                            </div>
                            <div class="listCategory">
                                <button type="button" id="first">FPS</button>
                                <button type="button" id="second">INFILTRATION</button>
                                <button type="button" id="third">IMMERSIVE SIM</button>
                            </div>
                                <p class="story">Choisirez-vous d'incarner l'Impératrice Emily Kaldwin ou le Protecteur royal, Corvo Attano ? Allez-vous progresser dans le jeu sans être vu ou mettre à profit son système de combat dévastateur ? L'histoire évolue avec vos choix et vous mènera d'intrigue en intrigue au fil de missions soignées.</p>
                            <div class="listInfo">
                                <button type="button" id="btnGameplay"><a href="https://www.youtube.com/watch?v=IcfkMO5Fw3w&t=2s">VOIR LE GAMELPAY</a></button>
                                <button type="button" id="btnBuy"><a href="https://www.dlcompare.fr/jeux/100000207/acheter-dishonored-2">ACHETER</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- FALLOUT NEW VEGAS -->
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/assets/pict/falloutNewVegasJaquette.jpg" alt="gamePict" class="img-fluid w-100" />
                        </div>
                        <div class="col-lg-8">
                            <div class="present">
                                <h2 class="title">FALLOUT NEW VEGAS</h2>
                            </div>
                            <div class="listCategory">
                                <button type="button" id="first">FPS</button>
                                <button type="button" id="second">ACTION/RPG</button>
                                <button type="button" id="third">BAC A SABLE</button>
                            </div>
                                <p class="story">Du désert de Mojave au strip de Vegas, en passant par le barrage Hoover Dam, vous allez rencontrer un bon nombre de personnages attachants et colorés. Faites les bonnes alliances et choisissez votre camps pour devenir le maître de Vegas.</p>
                            <div class="listInfo">
                                <button type="button" id="btnGameplay"><a href="https://www.youtube.com/watch?v=lsV2WTa8RpE">VOIR LE GAMELPAY</a></button>
                                <button type="button" id="btnBuy"><a href="https://www.dlcompare.fr/jeux/121/telecharger-cd-key-fallout-new-vegas">ACHETER</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- FIREWATCH  -->
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/assets/pict/firewatchJaquette.jpg" alt="gamePict" class="img-fluid w-100" />
                        </div>
                        <div class="col-lg-8">
                            <div class="present">
                                <h2 class="title">FIREWATCH</h2>
                            </div>
                            <div class="listCategory">
                                <button type="button" id="first">FPS</button>
                                <button type="button" id="second">DETENTE</button>
                                <button type="button" id="third">RICHE EN RECITS</button>
                            </div>
                                <p class="story">Nous sommes en 1989. Vous êtes Henry, un homme qui a tourné le dos à une vie dissolue pour aller travailler comme garde forestier dans l’État reculé du Wyoming. Perché au sommet de votre montagne, vous devez surveiller les départs de feu et protéger la nature. L’été est particulièrement chaud et tout le monde est sur les dents. Votre chef, une femme du nom de Delilah, est toujours prête à vous aider via un petit poste radio portable - c’est votre unique contact avec le monde extérieur que vous avez laissé derrière vous. Mais alors qu’un événement étrange vous contraint à quitter votre tourelle de surveillance, vous commencez à explorer un environnement sauvage et inconnu, à vous poser des questions et à devoir faire des choix qui vont décider du sort de la seule relation qui compte à vos yeux : celle que vous entretenez avec Delilah.</p>
                            <div class="listInfo">
                                <button type="button" id="btnGameplay"><a href="https://www.youtube.com/watch?v=HdUYYnfRdl8">VOIR LE GAMELPAY</a></button>
                                <button type="button" id="btnBuy"><a href="https://www.dlcompare.fr/jeux/1313/acheter-firewatch">ACHETER</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- SHADOW OF DOUBT -->
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/assets/pict/shadowOfDoubtJaquette.jpg" alt="gamePict" class="img-fluid w-100" />
                        </div>
                        <div class="col-lg-8">
                            <div class="present">
                                <h2 class="title">SHADOWS OF DOUBT</h2>
                            </div>
                            <div class="listCategory">
                                <button type="button" id="first">FPS</button>
                                <button type="button" id="second">ENQUETE</button>
                                <button type="button" id="third">BAC A SABLE</button>
                            </div>
                                <p class="story">Shadows of Doubt se déroule dans une réalité alternative du monde hyperindustrialisé des années 1980. Devenez détective et utilisez une série de gadgets pour récolter des preuves et gagner votre pain en résolvant des affaires, ainsi qu'en trouvant et en vendant des informations entre autres activités.</p>
                            <div class="listInfo">
                                <button type="button" id="btnGameplay"><a href="https://www.youtube.com/watch?v=WeB4veq5IRI&t=2s">VOIR LE GAMELPAY</a></button>
                                <button type="button" id="btnBuy"><a href="https://www.dlcompare.fr/jeux/100014538/acheter-shadows-of-doubt-steam-key">ACHETER</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
            </div>
        </div>
    </div>
</div>