<div class="container">
    <div class="navbar navbar-expand-lg">
        <div class="navbar-brand">
            <img src="/assets/pict/game'sTripLogo.png" class="img-fluid w-100" alt="siteLogo" />
        </div>
        <div class="input-group">
            <div class="form-outline" data-mdb-input-init>
                <input id="search-focus" type="search" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search</label>
            </div>
            <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                <i class="fas fa-search"></i>
            </button>
        </div>
        <button type="button"><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
    </div>
    <div class="showContain">
        <div id="listGames" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/assets/pict/Dishonored2Jaquette.png" class="img-fluid w-100" alt="gamePict" />
                        </div>
                        <div class="col-lg-8">
                            <div class="title">
                                <img src="/assets/pict/Dishonored2Logo.png" class="img-fluid w-100" alt="gameLogo" />
                            </div>
                            <div class="listCategory">
                                <button type="button" id="first">FPS</button>
                                <button type="button" id="second">INFILTRATION</button>
                                <button type="button" id="three">IMMERSIVE SIM</button>
                            </div>
                            <div class="pitch">
                                <p>Choisirez-vous d'incarner l'Impératrice Emily Kaldwin ou le Protecteur royal, Corvo Attano ? Allez-vous progresser dans le jeu sans être vu ou mettre à profit son système de combat dévastateur ? L'histoire évolue avec vos choix et vous mènera d'intrigue en intrigue au fil de missions soignées.</p>
                            </div>
                            <div class="listInfo">
                                <button type="button" id="btnGameplay"><a href="https://www.youtube.com/watch?v=IcfkMO5Fw3w">VOIR LE GAMEPLAY</a></button>
                                <button type="button" id="btnGameplay"><a href="https://www.dlcompare.fr/jeux/100000207/acheter-dishonored-2">ACHETER</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/assets/pict/Dishonored2Jaquette.png" class="img-fluid w-100" alt="gamePict" />
                        </div>
                        <div class="col-lg-8">
                            <div class="title">
                                <img src="/assets/pict/Dishonored2Logo.png" class="img-fluid w-100" alt="gameLogo" />
                            </div>
                            <div class="listCategory">
                                <button type="button" id="first">FPS</button>
                                <button type="button" id="second">INFILTRATION</button>
                                <button type="button" id="three">IMMERSIVE SIM</button>
                            </div>
                            <div class="pitch">
                                <p>Choisirez-vous d'incarner l'Impératrice Emily Kaldwin ou le Protecteur royal, Corvo Attano ? Allez-vous progresser dans le jeu sans être vu ou mettre à profit son système de combat dévastateur ? L'histoire évolue avec vos choix et vous mènera d'intrigue en intrigue au fil de missions soignées.</p>
                            </div>
                            <div class="listInfo">
                                <button type="button" id="btnGameplay"><a href="https://www.youtube.com/watch?v=IcfkMO5Fw3w">VOIR LE GAMEPLAY</a></button>
                                <button type="button" id="btnGameplay"><a href="https://www.dlcompare.fr/jeux/100000207/acheter-dishonored-2">ACHETER</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#listGames" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#listGames" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>